* {
	font-family: 'Roboto', sans-serif;
}

#spinner_and_state_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#popup-container {
	width: 500px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loading-state {
	margin-top: 0.5rem;
}

.loading-container {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}